<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.front.novomarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovoMarket"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProductosEdActivity"></activity>
        <activity android:name=".ProductosActivity" />
        <activity android:name=".CategoriaEdActivity" />
        <activity android:name=".CategoriaActivity" />
        <activity android:name=".MetodoPagoActivity" />
        <activity android:name=".MetodoPagoEdActivity" />
        <activity android:name=".ProveedorEdActivity" />
        <activity
            android:name=".ProveedorActivity"
            android:label="@string/title_activity_proveedor"
            android:theme="@style/Theme.NovoMarket.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ClienteEdActivity" />
        <activity
            android:name=".ClienteActivity"
            android:label="@string/title_activity_cliente"
            android:theme="@style/Theme.NovoMarket.NoActionBar" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NovoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>